@media (min-width: 1370px) {
    .about-img {
        left: -1%;
    }
    .singel-photo-box {
        min-width: 100%;
        min-height: 100%;
    }

}








/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .about-img {
        left: -7%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-menu .navbar-nav .nav-item>.nav-link {
        padding-left: 0px;
    }

    .banner-text {
        padding: 130px 0;
    }

    .banner-feature {
        position: absolute;
        right: -3%;
        bottom: 2%;
        max-width: 55%;
    }

    .banner-text h1 {
        font-size: 72px;
    }

    .banner-text p {
        margin-bottom: 50px;
    }

    .about-content {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .about-img {
        left: -18%;
        max-width: 69%;
        min-height: 70%;
        padding-bottom: 5%;
    }

    .events-heading-wrap {
        padding: 60px 0 350px;
    }

    .event-box-header {
        height: 280px;
    }

    .single-event-box:hover .event-box-header {
        height: 310px;
    }

    .event-box-content {
        padding: 45px 10px 30px;
    }

    .event-box-content h3 a {
        font-size: 22px;
    }

    .join-btn {
        font-size: 18px;
        margin-top: 0px;
    }

    .single-event-box:hover .event-box-content {
        max-height: 310px;
    }

    .events-box-wrap {
        margin-bottom: 80px;
    }

    .gallery-area {
        margin-bottom: 120px;
    }

    .pb-100 {
        padding-bottom: 80px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    .navbar-toggler {
        background-color: #fff;
        border-radius: 0;
        position: absolute;
        top: -62px;
        right: 0;
        outline: 0;
    }

    .main-menu.navbar {
        border-top: 1px solid #fff;
        text-align: center;
        padding-bottom: 0px;
    }

    .main-menu .drop-down {
        display: none;
    }

    .main-menu .navbar-nav .nav-item:first-child .nav-link {
        padding-left: 0;
    }

    .main-menu .navbar-nav .nav-item>.nav-link {
        padding-right: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-light .navbar-toggler {
        color: #9e485c;
        border-color: rgba(0, 0, 0, .1);
        outline: 0;
    }

    .contact-links {
        text-align: left;
    }

    .header-area.nav-fixed .logo a {
        padding: 18px 0px;
        display: inline-block;
    }

    .logo img {
        display: block;
        max-width: 75%;
    }

    .contact-links p {
        font-size: 16px;
        margin-right: 25px;
        margin-left: 0;
        padding: 15px 0 20px;
    }

    .banner-text {
        padding: 70px 0;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 64px;
    }

    .banner-feature {
        position: relative;
        right: 0;
        bottom: 0;
        z-index: -1;
        max-width: 625px;
        margin: 0 auto;
    }

    .about-img {
        position: relative;
        left: 0;
        max-width: auto;
        min-height: auto;
        padding-bottom: 0;
        z-index: 1;
    }

    .about-content {
        padding-top: 110px;
        padding-bottom: 0;
    }

    .event-box-header {
        height: 320px;
        background-size: cover;
        position: relative;
        margin-top: 30px;
    }

    .join-btn {
        visibility: visible;
        opacity: 1;
        color: #4b4f45;
    }

    .single-event-box:hover .event-box-header {
        height: 320px;
    }

    .event-box-content {
        max-height: 310px;
    }

    .events-box-wrap {
        margin-bottom: 90px;
        margin-top: -350px;
    }

    .events-heading-wrap {
        padding: 60px 0 370px;
    }

    .contact-icon {
        width: 13%;
        margin-bottom: 15px;
    }

    .pb-100 {
        padding-bottom: 50px !important;
    }

    .footer-menu li a {
        padding: 10px 15px;
    }

    .copyright-text {
        padding: 20px 0;
    }
}

/* small devices (Landscape 576px and up) */
@media(min-width: 575px) and (max-width: 767px) {

    .navbar-toggler {
        background-color: #fff;
        border-radius: 0;
        position: absolute;
        top: -62px;
        right: 0;
        outline: 0;
    }

    .main-menu.navbar {
        border-top: 1px solid #fff;
        text-align: center;
        padding-bottom: 0px;
    }

    .main-menu .drop-down {
        display: none;
    }

    .main-menu .navbar-nav .nav-item:first-child .nav-link {
        padding-left: 0;
    }

    .main-menu .navbar-nav .nav-item>.nav-link {
        padding-right: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-light .navbar-toggler {
        color: #9e485c;
        border-color: rgba(0, 0, 0, .1);
        outline: 0;
    }

    .contact-links {
        text-align: left;
    }

    .header-area.nav-fixed .logo a {
        padding: 18px 0px;
        display: inline-block;
    }

    .logo img {
        display: block;
        max-width: 75%;
    }

    .contact-links p {
        font-size: 16px;
        margin-right: 25px;
        margin-left: 0;
        padding: 15px 0 20px;
    }

    .banner-text {
        padding: 120px 0 70px;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 64px;
    }

    .banner-feature {
        position: relative;
        right: 0;
        bottom: 0;
        z-index: -1;
        max-width: 625px;
        margin: 0 auto;
    }

    .about-img {
        position: relative;
        left: 0;
        max-width: auto;
        min-height: auto;
        padding-bottom: 0;
        z-index: 1;
    }

    .about-content {
        padding-top: 110px;
        padding-bottom: 0;
    }

    .event-box-header {
        height: 320px;
        background-size: cover;
        position: relative;
        margin-top: 30px;
    }

    .join-btn {
        visibility: visible;
        opacity: 1;
        color: #4b4f45;
    }

    .single-event-box:hover .event-box-header {
        height: 320px;
    }

    .event-box-content {
        max-height: 310px;
    }

    .events-box-wrap {
        margin-bottom: 90px;
        margin-top: -350px;
    }

    .events-heading-wrap {
        padding: 60px 0 370px;
    }

    .contact-icon {
        width: 20%;
        margin-bottom: 15px;
    }

    .pb-100 {
        padding-bottom: 50px !important;
    }

    .footer-menu li a {
        padding: 10px 12px;
    }
    .footer-menu li a {
        font-size: 15px;
    }
    .copyright-text {
        padding: 20px 0;
    }


}

/* Extra small devices (portrait phones, less than 576px) */
@media(min-width: 320px) and (max-width: 575px) {
    .navbar-toggler {
        background-color: #fff;
        border-radius: 0;
        position: absolute;
        top: -48px;
        right: 0;
        outline: 0;
    }

    .main-menu.navbar {
        border-top: 1px solid #fff;
        text-align: center;
        padding-bottom: 0px;
    }

    .main-menu .drop-down {
        display: none;
    }
    
    .main-menu .navbar-nav .nav-item:first-child .nav-link {
        padding-left: 0;
    }

    .main-menu .navbar-nav .nav-item>.nav-link {
        padding-right: 0;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-light .navbar-toggler {
        color: #9e485c;
        border-color: rgba(0, 0, 0, .1);
        outline: 0;
    }

    .contact-links {
        text-align: left;
    }

    .header-area.nav-fixed .logo a {
        padding: 10px 0px;
        display: inline-block;
    }

    .logo img {
        display: block;
        max-width: 50%;
    }
    .header-area.nav-fixed {
        width: 100%;
        left: 0;
    }

    .contact-links p {
        font-size: 15px;
        margin-right: 0;
        margin-left: 0;
        padding: 14px 0 14px;
        display: block;
    }
    .contact-links p a{
        font-size: 13px;
    }

    .banner-text {
        padding: 120px 0 10px;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 40px;
    }
    .banner-text p {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .shaped-btn {
        font-size: 20px;
        margin-right: 11px;
        padding: 13px 15px;
    }
    .banner-feature {
        position: relative;
        right: 0;
        bottom: 0;
        z-index: -1;
        max-width: 300px;
        margin: 0 auto;
    }

    .about-img {
        display: none;
    }

    .about-content {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    .section-heading h2, .about-heading h2 {
        font-size: 23px;
    }

    .about-text p {
        margin-bottom: 20px;
    }
    
    .about-area .pl-0, .px-0 {
        padding-left: 15px !important;
    }
    .events-box-wrap .shaped-btn {
        margin-top: 40px;
    }
    .about-area .pr-0, .px-0 {
        padding-right: 15px !important;
    }
    .join-btn {
        visibility: visible;
        opacity: 1;
        color: #4b4f45;
    }

    .single-event-box:hover .event-box-header {
        height: 320px;
    }

    .event-box-content {
        max-height: 310px;
    }
    .event-box-header {
        height: 320px;
        background-size: cover;
        position: relative;
        margin-top: 30px;
    }
    .event-date {
        width: 80px;
        height: 91px;
    }
    .event-box-content h3 a {
        font-size: 20px;
    }
    .event-box-content h3 {
        line-height: 1;
        padding-bottom: 10px;
    }
    .events-box-wrap {
        margin-bottom: 90px;
        margin-top: -350px;
    }

    .events-heading-wrap {
        padding: 60px 0 370px;
    }
    .singel-photo-box {
        width: 320px;
        height: 360px;
    }
    .gallery-photo-list .owl-nav div {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 20px;
        box-shadow: 15px 20px 100px rgba(0, 0, 0, 8);
        margin-right: 7px;
    }
    .gallery-photo-list {
        padding-bottom: 0;
        margin-bottom: 80px;
        padding-top: 50px;
    }
    .footer-area {
        margin-top: 180px;
    }
    .move-down-btn, .back-to-top {
        position: absolute;
        top: -30px;
        height: 60px;
        width: 60px;
        line-height: 60px;
        font-size: 15px;
        box-shadow: 15px 20px 100px rgba(0, 0, 0, 0.50);
    }

    .footer-logo a img {
        max-width: 75%;
    }


    .contact-icon {
        width: 22%;
        margin-bottom: 15px;
    }
    .icon-container {
        width: 43px;
        height: 51px;
        font-size: 16px;
        line-height: 51px;
    }
    .contact-link a {
        font-size: 14px;
    }

    .pb-100 {
        padding-bottom: 30px !important;
    }
    .social-links a.icon-container {
        margin: 20px 5px;
    }

    .footer-menu li a {
        padding: 10px 12px;
    }
    .footer-menu li a {
        font-size: 15px;
    }
    .copyright-text {
        padding: 15px 0;
    }
}